---
layout: default
---

{% for post in paginator.posts %}
  <div class="post">
    <h2>{{ post.date | date_to_string }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a></h2>
    {{ post.content }}
    <hr>
    <div class="sm-index">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ post.url }}" data-via="toriatalks" data-count="none">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <div class="fb-like" data-href="{{ post.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" style="vertical-align:top;zoom:1;*display:inline"></div>
      <div class="g-plusone" data-size="medium" data-href="{{ post.url }}"></div>
    </div>
    <table class="post-footer">
      <tr>
        <td>
          <small>Written by {{ post.author }}</small>
        </td>
        <td>
          <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}" class="commentCount">Comments</a>
        </td>
      </tr>
    </table>
  </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><b>&laquo; Prev</b></a>
  {% else %}
    <span><b>&laquo; Prev</b></span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <b>{{ page }}</b>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><b>Next &raquo;</b></a>
  {% else %}
    <span><b>Next &raquo;</b></span>
  {% endif %}
</div>
{% endif %}

